<h1>Stupid Coach</h1>

<div class="question">
  <p> - You:</p>
  <p><%= @question %></p>
</div>

<div class="answer-coach">
  <p> -Coach:</p>
  <p><%= @answer %></p>
</div>


<p><%= link_to "Ask a new question", ask_path %></p>
