// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer-coach {
  background-color: #F2EDC4;
  margin: 20px;
  border-left: 3px;
  border-left-color: grey;
  border-left-style: solid;
  padding-left: 10px;
}

.question {
  margin: 20px;
  border-left: 3px;
  border-left-color: grey;
  border-left-style: solid;
  padding-left: 10px;
}
